.wrapper {
  display: flex;
}

.top-side-bar {
  background-color: #253141;
  height: 100px;
  width: 300px;
}

.side-bar {
  background-color: #2F3e51;
  height: 100vh;
  width: 300px;
}


/* side bar */

.topbar {
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.name a {
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}

.chat-create a {
  font-size: 10px;
  border: 1px solid lightblue;
  color: deepskyblue;
  padding: 14px;
  text-decoration: none;
}

.mainbar {
  background-color: #2F3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
}

.room {
  padding: 20px 0 40px 20px;
}

.chat-room a {
  color: #FFFFFF;
  text-decoration: none;
}

/* チャットメイン */
.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

.top-chatbar {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.chat-top-name {
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.chat-done {
  margin-top: 40px;
}

.chat-done a {
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
  text-decoration: none;
}

.main-chat {
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0 40px;
  overflow: scroll;
}

.messages {
  display: flex;
}

.message-name {
  font-size: 16px;
  color: #434A54;
  margin-right: 10px;
}
.lower-message{
  margin-top: 10px;
  margin-bottom: 40px;
}
.message-date {
  font-size: 12px;
  color: #999;
}

.bottom-chat {
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  width: 100%;
  display: flex;
  background-color: #FFFFFF;
}

.form-message {
  padding-left: 10px;
  border: #FFFFFF;
  height: 50px;
  width: 100%;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  height: 50px;
  margin-left: 15px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}